// Color variables (appears count calculates by raw css)
@color0: #b4e1d9; // Appears 2 times

body {
    background: @color0;
    font-size: 0;
}

#app {
    width: 100vw;
    height: 98vh;
    margin-top: 0;

    h1 {
        margin-top: 2vh;
    }
}
@import "./map.less";
