@color1: #ffffff; // Appears 4 times
@color2: #648c1c; // Appears 2 times
@color3: #987543; // Appears 2 times
// Width variables (appears count calculates by raw css)
@width1: 2.5vw; // Appears 3 times
@width5: 0; // Appears 2 times
// Height variables (appears count calculates by raw css)
@height1: 2.5vw; // Appears 3 times
@height5: 10px; // Appears 2 times

.wrapper {
    left: 50vw;
    position: absolute;
    top: 60vh;
    transform: translate(-50%, -50%);

    * {
        box-sizing: border-box;
    }
}

.container {
    height: calc(@height1*7);
    transform-style: preserve-3d;
    transform: rotateX(55deg) rotateZ(45deg);
    width: calc(@width1*8);
}

.cube {
    background: #b3e061;
    border: solid 1px #92cc28;
    display: inline-block;
    height: @height1;
    margin: 0;
    position: relative;
    width: @width1;
    transform: translate(0px, 0px);
    transform-style: preserve-3d;

    .tree {
        border-bottom: 3vw solid @color2;
        border-left: 0.4vw solid transparent;
        border-right: 0.4vw solid transparent;
        box-shadow: @color3 0px 7px 0 -3px;
        display: block;
        height: @height5;
        left: 0;
        position: absolute;
        top: -0.6vw;
        transform: rotateX(0deg) rotateZ(-45deg);
        width: @width5;
        z-index: 99;

        &:before {
            border-bottom: 2vw solid @color2;
            border-left: 0.3vw solid transparent;
            border-right: 0.3vw solid transparent;
            box-shadow: #b68f58 0 7px 0 -3px;
            content: "";
            display: none;
            height: @height5;
            left: 0.4vw;
            position: absolute;
            top: -1.2vw;
            width: @width5;
            z-index: 99;
        }
    }

    &:before {
        background-color: #6a512e;
        content: "";
        height: @height1;
        left: -1px;
        position: absolute;
        top: -1px;
        transform-origin: 100% 100%;
        transform: rotateX(-90deg) translateY(2.5vw);
        width: @width1;
    }

    &:after {
        background-color: @color3;
        content: "";
        height: @height1;
        left: -1px;
        position: absolute;
        top: -1px;
        transform-origin: 100% 0;
        transform: rotateY(90deg) translateX(2.5vw);
        width: @width1;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]+label {
        bottom: 0;
        display: block;
        height: 2.6vw;
        left: 0;
        margin-left: -1px;
        margin-top: -2px;
        position: absolute;
        right: 0;
        top: 0;
        width: 2.6vw;
    }
}
@keyframes flow {
    0% {
        opacity: 0.5;
        top: 0;
    }

    20% {
        opacity: 0.9;
        top: 2px;
    }

    21% {
        opacity: 0.5;
        top: 1px;
    }

    40% {
        opacity: 0.8;
        top: 4px;
    }

    41% {
        opacity: 0.5;
        top: 3px;
    }

    60% {
        opacity: 0.8;
        top: 6px;
    }

    61% {
        opacity: 0.5;
        top: 5px;
    }

    80% {
        opacity: 0.7;
        top: 8px;
    }

    81% {
        opacity: 0.5;
        top: 7px;
    }

    100% {
        opacity: 0.3;
        top: 10px;
    }
}
