<template>
    <div class="d-flex justify-content-center">
        <div class="wrapper">
            <div class="container">
                <div v-for="index in 49" :key="index" class="cube">
                    <input :id="index" name="check" type="checkbox"><label :for="index" />
                    <div v-if="index % 2 === 0" class="tree" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'boardmap',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
