<template>
    <div class="d-flex justify-content-center">
        <!--UPLOAD-->
        <form v-if="isInitial || isSaving" enctype="multipart/form-data" novalidate>
            <div class="dropbox">
                <input type="file" accept="text/plain" class="input-file" :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files);">
                <h4 v-if="isInitial">
                    Drag your file(s) here to begin<br> or click to browse
                </h4>
            </div>
        </form>
        <!--SUCCESS-->
        <div v-if="isSuccess" class="resultBox">
            <h4>What an adventure {{ name }} !</h4>
            <h6 v-if="chests>0">You have found {{ chests }} chests !</h6>
            <h6 v-else>You don't have found any chests !</h6>
            <div style="text-align:center;">
                <a class="btn btn-outline-success ml-2" :href="downloadLink">Download your results</a>
                <a class="btn btn-outline-warning ml-2" href="javascript:void(0)" @click="reset()">Start again</a>
            </div>
        </div>
        <!--FAILED-->
        <div v-if="isFailed" class="resultBox">
            <h4>Uploaded failed.</h4>
            <button type="button" class="btn btn-primary" @click="reset()">Try again</button>
            <h6>
                <pre>{{ uploadError }}</pre>
            </h6>
        </div>
    </div>
</template>

<script>
import * as axios from 'axios';

const BASE_URL = 'http://localhost:8090';

const STATUS_INITIAL = 0;
const STATUS_SAVING = 1;
const STATUS_SUCCESS = 2;
const STATUS_FAILED = 3;

export default {
    name: 'app',
    data() {
        return {
            chests: 0,
            uploadError: null,
            currentStatus: null,
            uploadFieldName: 'file',
            name: '',
            downloadLink: '',
        };
    },
    computed: {
        isInitial() {
            return this.currentStatus === STATUS_INITIAL;
        },
        isSaving() {
            return this.currentStatus === STATUS_SAVING;
        },
        isSuccess() {
            return this.currentStatus === STATUS_SUCCESS;
        },
        isFailed() {
            return this.currentStatus === STATUS_FAILED;
        },
    },
    mounted() {
        this.reset();
    },
    methods: {
        upload(formData) {
            const url = `${BASE_URL}/uploadFile`;
            return axios.post(url, formData).then(response => response).catch(error => error);
        },
        reset() {
            // reset form to initial state
            this.currentStatus = STATUS_INITIAL;
            this.uploadedFiles = [];
            this.uploadError = null;
        },
        save(formData) {
            // upload data to the server
            this.currentStatus = STATUS_SAVING;
            this.upload(formData)
                .then((response) => {
                    this.chests = response.data.treasuresFound;
                    this.downloadLink = response.data.downloadLink;
                    this.name = response.data.adventurer.name[0].toUpperCase() + response.data.adventurer.name.slice(1);
                    this.downloadLink = `${BASE_URL}${response.data.downloadLink}`;
                    this.currentStatus = STATUS_SUCCESS;
                })
                .catch((err) => {
                    this.uploadError = err.response;
                    this.currentStatus = STATUS_FAILED;
                });
        },
        filesChange(fieldName, fileList) {
            // handle file changes
            const formData = new FormData();
            if (!fileList.length) return;
            // append the files to FormData
            formData.append(fieldName, fileList[0], fileList[0].name);
            // save it
            this.save(formData);
        },
    },
};
</script>

<style>
.resultBox {
    margin-top: 2vh;
    background: lightcyan;
    color: dimgray;
    padding: 10px;
    min-height: 200px;
    min-width: 20vw;
    position: relative;
    text-align: left;
}

.dropbox {
    margin-top: 2vh;
    outline: 2px dashed grey;
    /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px;
    min-height: 200px;
    /* minimum height */
    position: relative;
    cursor: pointer;
}

.input-file {
    opacity: 0;
    /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
}

.dropbox:hover {
    background: lightblue;
    /* when mouse over to the drop zone, change color */
}

.dropbox h4,
.resultBox h4,
.resultBox h6 {
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
}

.dropbox h4 {
    line-height: 7vh;
}
</style>
