<template>
    <div id="app">
        <h1 class="text-center">Welcome to the Treasure Map</h1>
        <upload />
        <boardmap />
    </div>
</template>

<script>
import boardmap from './components/boardmap.vue';
import upload from './components/upload.vue';

export default {
    name: 'App',
    components: {
        boardmap,
        upload,
    },
};
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
